*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./image-optimisation-scaled.jpg");
    background-size: cover;
    background-position: center;
}
.nail{
    margin-left: 5rem;
}
.span1{
    background-color: orange;
    color: white;
}
.span2{
    color: white;
}
h1{
    margin-top: 10rem;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 50px;
    color: white;
    margin-top: 30px;
}